$primary-color: #f4e041;
$secondary-color: #00bdd3;
$text-color: rgba(0, 0, 0, 0.87);
$background-color: #f9f9f9;
$section-background-color: #f8f8f8;
$border-color: #d0cfcf;
$disabled-color: #b4b4b4;

$light-color: #ffffff;
$heading-color: rgba(0, 0, 0, 0.87);
$error-color: #cb3d40; // Ensure this variable is defined for error messages

$font-family: "Nunito", sans-serif;

// Sizes
$input-height: 54px;
$input-padding: 12px;
$border-radius: 4px;
